* {
  margin: 0;
  padding: 0;
  
}
body {
  background-image: linear-gradient(to bottom right, #570708, #570708 , black, #1d3383, #1d3383);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* .container {
position:absolute;
top:20%;
left:50%;
margin-left:-50px;
margin-top:-50px;
color: white; /* remove when not needed */
/* } */ 

.container {
  display: table-column;
  position: absolute;
  left: 43%;
  top: 25%;
  color: white;
}

.info {
  text-align: center;
}

.alliance {
  position: absolute;
  top: 55%;
  left: 70%;
  padding: 4px;
}

.alliance.border {
  border: solid gold 2px;
}

.horde {
  position: absolute;
  top: 20%;
  left: 10%;
  padding: 4px;
}

.horde.border {
  border: solid gold 2px;
}

button {
  margin-top: 10px;
  font-size: 15px;
  color: #ecb965;
  width: auto;
  padding: 2px 25px 2px 25px;
  background-color: #6e0407;
  border-radius: 4px;
  border-color: #7b7375;
}
/* Create a horde and alliance logo on the left and right side of 
the character with a glowing box to show which team they are on */
